<!-- <mat-stepper orientation="vertical">
    <form [formGroup]="superheroeForm" >
        <form [formGroup]="nameGroup">
            <mat-step [stepControl]="realNameControl" >
                <ng-template matStepLabel>Todo superhéroe o superheroína tiene un nombre en su vida real, aunque puede no llegar a saberse nunca...</ng-template>
                <ng-template matStepContent>
                  <mat-form-field class="real-name-ff">
                      <mat-label>Puedes introducir el nombre real de tu superhéroe o superheroína, si lo sabes...</mat-label>
                      <input formControlName="realName" matInput placeholder="Clark Kent">
                    </mat-form-field>
                    <div >
                      <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </ng-template>
              </mat-step>
              <mat-step [stepControl]="nickNameControl" >
                <ng-template matStepLabel>Su alias o apodo, resultará imprescindible para hacerse un nombre en las calles donde pretenda hacer llegar la justicia</ng-template>
                <ng-template matStepContent>
                    <mat-form-field class="nick-name-ff">
                        <mat-label>Te sugiero algo pegadizo y que inspiré terror a los enemigos de la justicia...</mat-label>
                        <input formControlName="nickName" matInput placeholder="Superman">
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperPrevious>Anterior</button>
                        <button mat-button matStepperNext>Siguiente</button>
                      </div>
                </ng-template>
              </mat-step>
        </form>
        <mat-step [stepControl]="teamControl" >
          <ng-template matStepLabel>Aunque cueste, te voy a pedir que elijas un equipo para tu superhéroe o superheroína</ng-template>
          <app-team-selector formControlName="team" />
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="superpowersControl" >
            <ng-template matStepLabel>Y ahora lo más importante, cuéntame sobre sus poderes</ng-template>
             <app-superpower-select formControlName="superpowers"/>
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext>Siguiente</button>
            </div>
          </mat-step>
          <mat-step [stepControl]="avatarControl" >
            <ng-template matStepLabel>Por último y para completar el nacimiento de tu superhéroe o superheroína, sube una imagen que represente a tu superhéroe o superheroína </ng-template>
            <app-upload-avatar (fileHasBeenLoaded)="fileHasBeenLoaded($event)" />
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
   
            </div>
          </mat-step>
    </form>
  </mat-stepper> -->

